{% extends 'flatpages/default.html' %}

{% block title %}
response
{% endblock title %}

{% block content %}

<h1>Отклики</h1>

   <hr>
   {% if response%}
    <table style="margin-left: 1px; margin-rith: ;">
           <tr>
               <td style="width: 200px"><u>Автор:</u></td>
               <td style="width: 200px"><u>Содержание:</u></td>
               <td style="width: 200px"><u>Объявление:</u></td>
           </tr>
           {% for re in response %}
           <tr>
               <td style="width: 250px">{{re.author}}</td>
               <td style="width: 250px">{{re.text}}</td>
               <td style="width: 250px">{{re.post}}</td>
           </tr>
           {% endfor %}

    </table>
   {% else %}
       <h2>Откликов нет!</h2>
   {% endif %}

{% endblock content %}